// fonts
$font: 'CoreCircus', sans-serif;

// colors
$color-bg: lightseagreen;
$color-snow: snow;
$color-black: black;
$color-gray: gray;
$color-orange: orange;
$color-send: #333333;
$color-input: #b9c7da;
$color-selec: darkgray;
