.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    &_favorites{
      &_title{
        padding-top: 30px;
        text-shadow:
        4px 4px 0px #72ebe1,
        9px 8px 0px #186a66;
        font-size: 30px;
      }
        &_ulfav {
            list-style: none;
          }
    }
  }